html {
    
    font-size: 10px; /* px means  'pixels': the base font size is now pixels high  */
    font-family: 'Pangolin', cursive;
    background-color: floralwhite;
}
div {
  
    color: darkblue;
    font-size: 30px;
    line-height: 2.5;
    letter-spacing: 2px;
    text-align: center;
 
}
.div1 {
  
    color: darkblue;
    font-size: 25px;
    line-height: 2;
    letter-spacing: 2px;
    

}
.div2 {
  
    color: darkblue;
    font-size: 25px;
    line-height: 2;
    letter-spacing: 2px;
}
.div3 {
  
    color: black;
    font-size: 20px;
    line-height: 2;
    letter-spacing: 2px;
	word-wrap:break-word;
    text-align: left;
}
.div4 {
  
    color: black;
    font-size: 20px;
    line-height: 0;
    letter-spacing: 2px;
    text-align: center;
}
h1 {
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: cornflowerblue;
    text-shadow: 3px 3px 1px black;
}
body {
     
    width: 700px;
    margin: 0 auto;
    height: 3000px;
    background-color: azure;
    padding: 20px 20px 20px 20px;
    
}
p {
    color: darkblue;
    font-size: 30px;
    line-height: 2.5;
    letter-spacing: 2px;
    
     
}
   
 
    
.container {
    float: left;
    background-color: aquamarine;
    width: 700px;
    height: 195px;
    text-align: center;
}
.div5 {
    font-size: 80px;
    text-align: center;
    color: cornflowerblue;
    text-shadow: 3px 3px 1px black;
}  
B {
  align-self: center;
}
    

}